In [5]:
import numpy as np
import pandas as pd

In [41]:
dfs=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df=dfs[0]
df.replace('Not assigned',np.nan,inplace=True)
df.dropna(thresh=2,inplace=True)
df.groupby('Postal Code')
df.sort_values('Postal Code',inplace=True)
df.head(10)

(103, 3)

In [29]:
x=pd.read_csv("https://cocl.us/Geospatial_data")
x.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [40]:
lat=list()
long=list()
for i,j,l,la in zip(df['Postal Code'],x['Postal Code'],x['Latitude'],x['Longitude']):
    if(i==j):
        lat.append(l)
        long.append(la)
df['Latitude']=pd.DataFrame(lat)
df['Longitude']=pd.DataFrame(long)

103

In [31]:
df.head()

   Postal Code     District                           Neighbourhood
9          M1B  Scarborough                          Malvern, Rouge
18         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
27         M1E  Scarborough       Guildwood, Morningside, West Hill
36         M1G  Scarborough                                  Woburn
45         M1H  Scarborough                               Cedarbrae

M1B Scarborough

TypeError: 'NoneType' object is not subscriptable